html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

h1 {
	text-align: center;
	padding-top: 20px;
}

.links {
  text-decoration: none !important;
}

.group-run {
	background-color: #e11018 !important;
}
.group-run:hover {
  background-color: #f1363d !important;
  cursor: pointer;
}

.community-mission {
	background-color: #d66c20 !important;
}
.community-mission:hover {
  background-color: #e48847 !important;
  cursor: pointer;
}

.party {
	background-color: #b176db !important;
}
.party:hover {
	background-color: #c191e2 !important;
  cursor: pointer;
}

.race {
	background-color: #639be6 !important;
}
.race:hover {
	background-color: #82afeb !important;
  cursor: pointer;
}

.training-session {
	background-color: #88c77b !important;
}
.training-session:hover {
	background-color: #a0d295 !important;
  cursor: pointer;
}

.line-break {
	white-space: pre-line;
}